body,
html {
	margin: 0px;
	padding: 0px;
	background-color: #121212;
	color: white;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 150px;
}

nav ul {
	display: flex;
	gap: 20px;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	text-decoration: none;
	color: white;
}

nav ul li a:hover {
	color: #cbcbcb;
	transition: all 0.5s;
}

main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: min(100%, 1200px);
	margin: 0 auto;
	gap: 20px;
	grid-auto-rows: 30em;
	padding: 0 0 150px 0;
}

div p:nth-of-type(1n) {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

div p:nth-of-type(2n) {
	font-family: "Playpen Sans", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.store-item {
	display: flex;
	flex-wrap: wrap;
	background-color: #1e1e1e;
	border-radius: 10px;
	overflow: hidden;
	justify-content: center;
	cursor: pointer;
}

.store-item:hover {
	box-shadow: 0 0 10px 5px #1c1c1c;
	transform: scale(1.02);
	transition: all 0.5s;
}

.store-item img {
	flex-basis: 100%;
	height: 50%;
	background-color: #121212;
	overflow-anchor: center;
}

.store-item p {
	flex-basis: 100%;
	padding: 0 15px;
}

.store-item span {
	display: inline-block;
	color: #f1f1f1;
	margin-bottom: 10px;
}

.store-item > span:first-of-type,
.store-item > span:nth-of-type(2) {
	flex-basis: calc(25% - 15px);
}

.store-item > span:nth-of-type(2) {
	text-align: right;
}

.store-item > span:last-of-type {
	flex-basis: calc(50% - 15px);
	text-align: right;
}

footer {
	background-color: #1e1e1e;
	padding: 25px 150px;
	text-align: center;
}
